.share-sell-action-sheet {

}

.share-sell-action-sheet .action-sheet-wrapper {
}

.share-sell-action-sheet .action-sheet-container {
  background-color: transparent;
  padding-bottom: 4em;
}

.share-sell-action-sheet .share-button {
  background-image: url('/assets/img/share_inactive.png');
  background-size: 10em 2em;
  background-repeat: no-repeat;
  background-position: center;
}

.share-sell-action-sheet .sell-button {
  background-image: url('/assets/img/sell_inactive.png');
  background-size: 10em 2em;
  background-repeat: no-repeat;
  background-position: center;
}